* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flag {
    min-height: 100vh;
    position: relative;

    animation-name: flag;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes flag {
    0% {background-color: #000;}
    50% {background-color: #f00;}
    100% {background-image: linear-gradient(to bottom right, #f00, #000);}
}

.star {
    position: absolute;
    left: 40%;
    top: 30%;

    /* animation-name: star, star2;
    animation-duration: 5s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-delay: 3s, 0;
    animation-iteration-count: 5, infinite;
    animation-direction: normal; */

    animation: star 3s linear 1s 3 normal, star2 2.5s ease-in 12s infinite normal;
}

@keyframes star {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

@keyframes star2 {
    from {transform: scale(0, 0);}
    to {transform: scale(1.5, 1.5);}
}

